body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black
  
}

h1{
  color: white;
}

.opening-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.opening-text {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.start-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}


/* 既存のCSSに追加 */
@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.blinking {
  animation: blink 1s linear infinite;
}

/* 既存のCSSに追加 */
.text-part1,
.text-part2,
.text-part3,
.text-part4 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.text-part1 {
  animation-delay: 1s;
}

.text-part2 {
  animation-delay: 2s;
}

.text-part3 {
  animation-delay: 3s;
}

.text-part4 {
  animation-delay: 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}